*{
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
}
.main{
    width: 1000px;
    margin: 0px auto;
}

.ten{
    width: 1000px;
    display: inline-block;
    position: absolute;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}

.bd-example{
    margin-top: 60px;
}