*{
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
}
.main{
    width: 1000px;
    margin: 0px auto;
}

.top{
    width: 100%;
    height: 25px;
    position: relative;
}

.ten{
    display: inline-block;
    position: absolute;
    text-align: right;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    line-height: 20px;
    right: 20px;
}

.bd-example{
    margin-top: 25px;
}